<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oven Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <div id="container">
        <!-- Timer Section -->
        <div id="timer-display">
            <h3>Timer</h3>
            <p id="timer-value">00:00:00</p>
            <progress id="timer-progress" value="0" max="100"></progress>
            <div class="button-container">
                <button class="timer-button" id="start-2hr">Start 2 Hour Timer</button>
                <button class="timer-button" id="start-30min">Start 30 Minute Timer</button>
                <button class="stop-button" id="stop-timer">Stop Timer</button>
            </div>
        </div>

        <!-- Temperature Section -->
        <div id="temperature-display">
            <h3>Temperature</h3>
            <p id="temperature-value">0.00 °C</p>
        </div>

        <!-- Fan Speed Section -->
        <div id="fan-display">
            <h3>Fan Speed</h3>
            <p id="fan-speed-value">0%</p>
            <progress id="fan-progress" value="0" max="100"></progress>
        </div>
    </div>
</body>

</html>
